<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if book_author %}
    <h1>I just ate {{ food }} now</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aperiam dolor omnis cumque fugiat. Asperiores animi officia recusandae cumque, voluptas atque numquam saepe aperiam incidunt omnis odio! Possimus, atque nulla.
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia nobis suscipit vero qui, nemo sapiente neque laborum magni obcaecati iusto fugit sed iure maxime ea similique dolores porro delectus.
    </p>
    
    <p>
        Available books are:
    </p>
    
    
    {% for author in all_books %}
    <p>
        {{ author.book_author }} </p>
    <p> {{ author.book_title }}</p>
    <p>{{ author.year_published  }}</p>
    <p>
        {{ author.book_author | title }}
    </p>

    {% endfor %}
</p>
    {% endif %}
    {% if book %}
   
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea est placeat laboriosam pariatur odit facere, ipsum distinctio quibusdam explicabo maxime? Cumque eveniet labore expedita aliquam rem, quos officia quaerat dolorum!

        Done
    </p>

    {# these are comments #}
    {% endif %}
</body>
</html>