{% extends 'base.html' %}



{% block content %}

{% for post in object_list %}

<div class= 'post-entry'>
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.body }} </p>

    <a href="{% url 'edit_post' post.pk %}">Edit Post</a> 
    |
    <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
    <div>
    {% for comment in post.comments.all %}

    <p>
        <h4>Comments</h4>
        <span> {{ comment.author }}&middot;</span>
        {{ comment }}
    </p>

    {% endfor %}
    </div>  



</div>
{% endfor %}
{% endblock %}